.home-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;

}
.home-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  z-index: 5;
}
.home-img > :first-child {
  width: 80%;
  max-width: 500px;
}
.home-title {
  font-size: 1.2rem;
  /* border: 1px solid var(--color-coral); */
  padding: 0.4em 0.6em;
  border-radius: 10px;
  align-self: center;
  margin-bottom: 1.5rem;
}
.home-title > span {
  color: var(--color-coral);
}
.home-subtitle {
  font-size: 2.5rem;
  word-break: break-word;
  letter-spacing: 0.04em;
  margin-bottom: 1.2rem;
}
.home-subtitle span {
  color: var(--color-coral);
  font-size: 2.6rem;
}
.home-description {
  font-size: 1.2rem;
}
.home-buttons {
  margin-top: 2rem;
  width: 80%;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.home-buttons button {
  background-color: var(--color-coral);
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  letter-spacing: 0.04em;
  transition: all 0.3s ease-in-out;
  width: 130px;
  color: #fff;
  border: none;
  outline: none;
}
.home-buttons button:hover {
  color: black;
  background-color: var(--color-darkcoral);
}

/* Contact Details */
.home-contact-container{
 display: flex;
 margin: 30px auto 0;
}
.contacta {
  margin: 0 10px;
  color: var(--color-coral);
  font-size: 1.5rem;
}
.contacta:hover {
  color: var(--color-darkcoral);
}

/* ---------- Responsive ---------- */
@media screen and (max-width: 1150px) {
  .wrapper {
    flex-direction: column;
  }
  .home-img {
    margin: 4rem 0 0 0;
  }
  .home-img > :first-child {
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  .section-padding {
    padding: 4rem;
  }
  .home-h1 {
    font-size: 60px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 650px) {
  .section-padding {

    padding: 1.4rem 1rem;
  }
  .home-buttons {
    width: 100%;
    gap: 15px;
    flex-wrap: wrap;
  }
  .home-buttons button {
    padding: 4px 8px;
    font-size: 1rem;
  }
  .home-subtitle {
    font-size: 1.8rem;
  }
  .home-subtitle span {
    font-size: 2rem;
  }
  .home-description {
    font-size: 1rem;
  }
}

#home {
  position: relative;
}
