.contributionCard {
  padding: 15px 20px 15px 50px;
  z-index: 10;
}

.title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-div > h3 {
  font-size: 1.5rem;
}
.view-link a {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-darkcoral);
  text-decoration: none;
  cursor: pointer;
}

.contributionCard p {
  font-size: 1rem;
  text-align: justify;
}
@media (max-width: 750px) {
  .contributionCard {
    padding: 10px 15px;
  }
  .title-div {
    flex-direction: column;
    align-items: flex-start;
  }
  .contributionCard p {
    margin: 4px 0;
  }
}

.PRs-container{
  margin: 1.2rem auto 0;
}

.PRs{
  /* border: 1px solid red; */
  padding: 5px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.4);
  letter-spacing: 0.04em;
  margin-bottom: 15px;
}
.PRs h4{
  display: flex;
  align-items: center;
  gap:5px;
  font-family: var(--font-body);
  margin-bottom: 0.8rem;
  font-size: 1rem;
}
.PRs a{
  color: #fff;
}
.PRs h5{
  font-family: var(--font-body);
  margin-bottom: 0.5rem;
  opacity: 0.8;
  font-size: 0.8rem;
}