#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Projects  */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 90%;
  transition: opacity 0.5s ease-in-out;
  justify-items: center;

  position: relative;
}
@media (max-width: 480px) {
  .projects-container {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
.project-empty {
  margin: 2rem 0;
}
.project-empty h3 {
  font-family: var(--font-heading);
  font-size: 2rem;
  margin-bottom: 16px;
}
.project-empty p {
  font-family: var(--font-heading);
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.6;
}

/* Dashboards */
.dashboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
  padding: 1.2rem;
  width: 100%;
  justify-items: center;
}

@media (max-width: 480px) {
  .dashboard-container {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
