.view-button {
  align-self: center;
  padding: var(--space-1) var(--space-2);
  border-radius: var(--radius-sm);
  border: none;

  font-size: var(--text-lg);
  background-color: var(--color-coral);
  color: #fff;
  margin-bottom: var(--space-3);
  font-family: var(--font-body);
  cursor: pointer;

  transition: transform 0.2s ease;
}
.view-button:hover {
  transform: scale(1.025);
  color: var(--color-darkblue);
}

@media (max-width: 1024px) {
  .view-button {
    font-size: var(--text-base)
  }
}
@media (max-width: 640px) {
    .view-button {
    padding: var(--space-1) var(--space-3);
    font-size: var(--text-sm);
  }
}