/* Base Buttons */
.btn {
  font-family: var(--font-heading);
  font-weight: var(--font-medium);

  border-radius: var(--radius-sm);
  border: none;
  outline: none;
  cursor: pointer;

  transition: all 0.3s ease;
  letter-spacing: var(--tracking-wide);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

/* Button Sizes */
.btn-sm{
  font-size: var(--text-sm);
  padding: var(--space-1) var(--space-3);
  min-width: 80px;
}
.btn-md{
  font-size: var(--text-base);
  padding: var(--space-1) var(--space-4);
  min-width: 120px;
}
.btn-lg{
  font-size: var(--text-lg);
  padding: var(--space-1) var(--space-5);
  min-width: 160px;
}

/* Button Variant */
.btn-primary{
  background-color: var(--color-coral);
  color: var(--color-text-primary);
}
.btn-primary:hover {
  background-color: var(--color-darkcoral);
  color: var(--color-darkblue);
}

/* Responsive */
@media (max-width: 768px) {
  .btn-sm {
    padding: var(--space-1) var(--space-2);
    min-width: 64px;
  }
  .btn-md {
    padding: var(--space-1) var(--space-4);
    min-width: 100px;
  }
  .btn-lg {
    padding: var(--space-1) var(--space-6);
    min-width: 140px;
  }

}
@media (max-width: 640px) {
  .btn-sm {
    font-size: var(--text-xs);
  }
  .btn-md {
    font-size: var(--text-sm);
  }
  .btn-lg {
    font-size: var(--text-base);
  }
}