.experienceCard {
  padding: 15px 50px;
  z-index: 3;
  position: relative;
}
.experienceCard > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title > h3 {
  font-size: 1.6rem;
  color: var(--color-coral);
}
.title > span {
  font-size: 1rem;
}
.experienceCard-container {
  position: relative;
}
.company {
  font-size: 1.25rem;
}
.descriptions p {
  font-size: 1rem;
}

/* Is View Container */
.isview-container {
  z-index: 10;

  display: flex;
  flex-direction: column;

  margin: 0.9rem 0;
}
.view-button {
  align-self: center;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;

  font-size: 1.1rem;
  background-color: var(--color-coral);
  color: #fff;
  margin-bottom: 10px;
  font-family: var(--font-body);
  cursor: pointer;

  transition: transform 0.2s ease;
}
.view-button:hover {
  transform: scale(1.025);
  /* background-color: ; */
  color: var(--color-darkblue);
}

.challenges-container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  gap: 15px;

  overflow: hidden;
  padding: 10px 0;
}
.ch-link {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in;
  font-family: var(--font-body);
}
.ch-link:hover {
  color: var(--color-coral);
}
.ch-title {
  font-size: 1.1rem;
  font-weight: 100;
}

@media (max-width: 750px) {
  .experienceCard {
    padding: 10px 15px;
    margin-top: 1.6rem;
  }
  .title {
    flex-direction: column;
    align-items: flex-start;
  }
  .title > * {
    width: 100%;
  }
  .descriptions p {
    font-size: 0.9rem;
  }
  .view-button {
    padding: 4px 5px;
    font-size: 1rem;
    width: 100%;
  }
}
