.experienceCard {
  /* border: 1px solid red; */
  padding: 15px 50px;
}
.experienceCard > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title > h3 {
  font-size: 1.6rem;
}
.title > span {
  font-size: 1.1rem;
}
.experienceCard-container {
  position: relative;
}
.experienceCard h4 {
  font-size: 1.2rem;
}
.descriptions p {
  font-size: 1rem;
}

@media (max-width: 750px) {
  .experienceCard {
    padding: 10px 15px;
    margin-top: 1.6rem;
  }
  .title {
    flex-direction: column;
    align-items: flex-start;
  }
  .title > * {
    width: 100%;
  }
}
