#about {
  flex-direction: column;
  position: relative;
}
.skills-container {
  margin-top: 1.5rem;
  /* position: relative; */
}
.skills-top p {
  font-size: 1rem;
  padding: 1px;
  text-align: justify;
  margin-bottom: 15px;
}
.skills-top {
  margin-bottom: 2rem;
}

.tools-container {

  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 300%;
  min-width: 300%;
  position: absolute;
}
@media (max-width: 1200px) {
  .tools-container {
    min-width: 3600px;
  }
}
