#about {
  flex-direction: column;
  position: relative;
}
.skills-container {
  margin-top: 1.5rem;
  /* position: relative; */
}
.skills-top p {
  font-size: 1rem;
  padding: 1px;
  text-align: justify;
  margin-bottom: 15px;
}
.skills-top {
  margin-bottom: 1rem;
}

.tools-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  justify-content: center;
  padding: 20px 10px;
  gap: 15px; */

  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 300%;
  min-width: 300%;
  position: absolute;
}

/* @media (max-width: 480px) {
  .tools-container {
    grid-template-columns: 1fr;
  }
} */
@media (max-width: 1200px) {
  .tools-container {
    min-width: 3600px;
  }
}
