.macFrame {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  border-radius: 0.7rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  font-family: monospace;
  color: #ffffff;
  transition: color 0.5s;
}

/*======================== Mac Header ============================= */
.mac-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 0.75rem;

  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
/* Mac Dots */
.mac-dots {
  display: flex;
  gap: 5px;
}
.mac-btn {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}
.mac-btn:hover {
  transform: scale(1.1);
}
.mac-btn.red {
  background: rgba(255, 0, 0, 0.9);
}
.mac-btn.yellow {
  background: #ffbd44;
}
.mac-btn.green {
  background: #00ca4e;
}

/* Tabs */
.mac-tabs {
  display: flex;
  align-items: center;
  gap: 12px;
}
.mac-tab {
  padding: 0.5rem 0.8rem;
  font-size: 0.875rem;

  /* border-top-left-radius: 0.5rem; */
  /* border-top-right-radius: 0.5rem; */
  transition: color 0.2s;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease;
  border-bottom: 2px solid transparent;
  letter-spacing: 0.06em;

  /* background-color: #ffbd44; */
}
.mac-tab.active {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-bottom: 2px solid #fff;
  border-radius: 5px 5px 0px 0px;
}

/* Content */
.widget-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-family: "Fira Code", monospace;
  font-size: 14px;
  overflow-y: auto;

  height: 80%;
}

/* 1. Terminal Tab */
.terminal-tab {
  width: 100%;
  height: 100%;
  color: var(--color-darkblue);
  padding: 20px;
  border-radius: 6px;
  overflow-y: auto;
  font-family: monospace;
}
.currentLine {
  display: flex;
  align-items: center;
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.terminal-tab .cursor {
  display: inline-block;
  width: 0.5rem;
  height: 1rem;
  background-color: #00ff7f;
  animation: blink 1s steps(2, start) infinite;
}
.blink {
  animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* 2. Color Tab */
.color-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  height: 100%;
}
.color-options {
  display: flex;
}
.color-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #fff;
  transition: transform 0.2s;
}
.random-color-btn {
  padding: 5px 10px;
}

.about-tab {
  color: #d4d4d4;
  /* padding: 16px; */
  border-radius: 10px;
  font-family: "Fira Code", monospace;
  /* font-size: 15px; */
  /* line-height: 1.5; */
}
.about-tab .key {
  color: #9cdcfe;
}
