.macFrame {
  width: 70%;

  max-width: 500px;
  height: 250px;
}

/* Mac Header */
.mac-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px 15px;
  background: #1e1e1e;
  border-bottom: 1px solid #333;
}
.mac-dots {
  display: flex;
  gap: 5px;
}
.mac-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
}
.mac-btn.red {
  background: #ff605c;
}
.mac-btn.yellow {
  background: #ffbd44;
}
.mac-btn.green {
  background: #00ca4e;
}

/* Tabs */
.mac-tabs {
  display: flex;
  align-items: center;
  gap: 12px;
}
.mac-tab {
  padding: 6px 10px;
  font-size: 13px;
  background: transparent;
  border: none;
  color: #ccc;
  cursor: pointer;
  transition: 0.2s ease;
  border-bottom: 2px solid transparent;
  letter-spacing: 0.06em;
}
.mac-tab.active {
  color: #fff;
  border-bottom: 2px solid #61dafb;
}

/* Content */
.widget-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-family: "Fira Code", monospace;
  font-size: 14px;
  overflow-y: auto;

  border: 1px solid blue;
  height: 80%;
}

/* 1. Terminal Tab */
.terminal-tab {
  width: 100%;
  height: 100%;
  color: var(--color-darkblue);
  padding: 20px;
  border-radius: 6px;
  overflow-y: auto;
  font-family: monospace;
}
.currentLine {
  display: flex;
  align-items: center;
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.terminal-tab .cursor {
  display: inline-block;
  width: 0.5rem;
  height: 1rem;
  background-color: #00ff7f;
  animation: blink 1s steps(2, start) infinite;
}
.blink {
  animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* 2. Color Tab */
.color-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 100%;
}
.color-tab > p {
}
.coor-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #fff;
  transition: transform 0.2s;
}
.random-color-btn {
  padding: 5px 10px;
}

.about-tab {
  color: #d4d4d4;
  /* padding: 16px; */
  border-radius: 10px;
  font-family: "Fira Code", monospace;
  /* font-size: 15px; */
  /* line-height: 1.5; */
}
.about-tab .key {
  color: #9cdcfe;
}
