.macFrame {
  width: 80%;
  height: 300px;

  /* border: 1px solid red; */
}
.mac-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px 15px;
  background: #1e1e1e;
  border-bottom: 1px solid #333;
}
.mac-dots {
  display: flex;
  gap: 5px;
}
.mac-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
}
.mac-btn.red {
  background: #ff605c;
}
.mac-btn.yellow {
  background: #ffbd44;
}
.mac-btn.green {
  background: #00ca4e;
}
.mac-tabs {
  display: flex;
  align-items: center;
  gap: 12px;
}
.mac-tab {
  padding: 6px 10px;
  font-size: 13px;
  background: transparent;
  border: none;
  color: #ccc;
  cursor: pointer;
  transition: 0.2s ease;
  border-bottom: 2px solid transparent;
}
.mac-tab.active {
  color: #fff;
  border-bottom: 2px solid #61dafb;
}

/* 2. Terminal Tab */
.terminal-tab {
  width: 100%;
  height: 100%;
  /* background: #1e1e2f; */
  color: black;
  padding: 10px;
  border-radius: 6px;
  overflow-y: auto;
}
