.macFrame {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  border-radius: 0.7rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  font-family: monospace;
  color: #ffffff;
  transition: color 0.5s;
}

/*======================== Mac Header ============================= */
.mac-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 0.75rem;

  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
/* Mac Dots */
.mac-dots {
  display: flex;
  gap: 5px;
}
.mac-btn {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}
.mac-btn:hover {
  transform: scale(1.1);
}
.mac-btn.red {
  background: rgba(255, 0, 0, 0.9);
}
.mac-btn.yellow {
  background: #ffbd44;
}
.mac-btn.green {
  background: #00ca4e;
}

/* Tabs */
.mac-tabs {
  display: flex;
  align-items: center;
  gap: 12px;
}
.mac-tab {
  padding: 0.5rem 0.8rem;
  font-size: 0.875rem;

  /* border-top-left-radius: 0.5rem; */
  /* border-top-right-radius: 0.5rem; */
  transition: color 0.2s;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease;
  border-bottom: 2px solid transparent;
  letter-spacing: 0.06em;

  /* background-color: #ffbd44; */
}
.mac-tab.active {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-bottom: 2px solid #fff;
  border-radius: 5px 5px 0px 0px;
}

/* ======================= Widget Content ==================== */
.widget-content {
  padding: 0.6rem;
  font-size: 14px;
  overflow-y: auto;
  height: 90%;
}

/* 1. Terminal Tab */
.terminal-tab {
  color: var(--color-darkblue);
  overflow-y: auto;
  line-height: 1.4;
}
.currentLine {
  display: flex;
  align-items: center;
}
.currentLine > * + * {
  margin-left: 0.25rem;
}
.blink {
  width: 0.5rem;
  height: 1rem;
  background-color: #fff;
  display: inline-block;
  animation: pulse 1.5s ease-in-out infinite;
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* 2. Color Tab */
.color-tab {
  text-align: center;
  padding-top: 2rem;
}
.color-tab > * + * {
  margin-top: 1.5rem;
}
.color-tab > p {
  font-weight: 600;
  font-size: 1.125rem;
}
.color-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.color-circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #fff;
  transition: all 150ms;
}
.color-circle:hover {
  transform: scale(1.1);
}
.random-color-btn {
  /* padding: 5px 10px; */
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-family: sans-serif;
  transition: background-color 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.random-color-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* 3. About Tab */
.about-tab {
  color: #d4d4d4;
  /* padding: 16px; */
  border-radius: 10px;
  font-family: "Fira Code", monospace;
  /* font-size: 15px; */
  /* line-height: 1.5; */
}
.about-tab .key {
  color: #9cdcfe;
}
