.project-card {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-softlavender);
  border-radius: var(--radius-lg);

  position: relative;
  overflow: hidden;
  backdrop-filter: blur(10px);
  max-width: 380px;
}
.project-badge {
  position: absolute;
  top: var(--space-3);
  right: var(--space-3);

  background: linear-gradient(
    120deg,
    var(--color-coral),
    var(--color-darkblue)
  );
  color: var(--color-coral);
  font-size: var(--text-sm);
  padding: var(--space-1) var(--space-3);
  border-radius: 20px;
  pointer-events: none;
  text-align: center;
  font-family: var(--font-body);
  z-index: 2;
}

/* Image */
.project-image-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;

  position: relative;
  overflow: hidden;
  padding: var(--space-1);
}
.project-image {
  aspect-ratio: 3.5/2;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  object-fit: cover;
}
.project-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
}
.play-icon {
  font-size: 64px;
  color: var(--color-coral);
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.project-image-wrapper:hover .play-icon {
  visibility: visible;
  opacity: 1;
}
.project-image-wrapper:hover img {
  opacity: 0.5;
  filter: blur(1px);
  transition: opacity 0.2s ease-in;
}

/* Descriptions */
.project-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--space-2);
  gap: var(--space-1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
/* Title */
.project-title {
  font-family: var(--font-heading);
  font-size: var(--text-2xl);
  font-weight: var(--font-semibold);
  text-align: center;
}
/* TechStack */
.project-tech {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  flex-wrap: wrap;
}
.tech-label {
  font-family: var(--font-heading);
  font-size: var(--text-lg);
  color: var(--color-text-primary);
  font-weight: var(--font-medium);
}

.tech-icons {
  display: flex;
  gap: var(--space-1);
  flex-wrap: wrap;
}

.tech-icons svg {
  width: 24px;
  height: 24px;
}

.project-description {
  font-family: var(--font-body);
  font-size: var(--text-sm);
  color: var(--color-text-secondary);
  line-height: var(--leading-relaxed);
  letter-spacing: var(--tracking-wide);
  text-align: justify;
}
/* Actions */
.projects-actions {
  display: flex;
  justify-content: center;
  margin-top: auto;
  gap: var(--space-6);
}
.project-btn {
  flex: 1;
  gap: var(--space-1);
  padding: 0.5rem 0.75rem;
  padding: var(--space-1) var(--space-2);

  font-family: var(--font-heading);
  font-size: var(--text-lg);
  font-weight: var(--font-medium);
  border-radius: var(--radius-md);
  border: 1px solid transparent;
  color: var(--color-darkblue);
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}
.project-btn:hover {
  cursor: pointer;
  background-color: var(--color-coral);
  color: white;
}

/* Responsive */
@media screen and (max-width: 900px) {
  .project-title {
    font-size: var(--text-2xl);
  }
}
@media screen and (max-width: 640px) {
  .project-content {
    padding: var(--space-1) var(--space-2);
    gap: var(--space-1);
  }
  .project-title {
    font-size: var(--text-xl);
  }
  .tech-label {
    font-size: var(--text-base);
  }

  .tech-icons svg {
    width: 20px;
    height: 20px;
  }

  .project-description {
    font-size: var(--text-xs);
  }
  .projects-actions {
    flex-direction: column;
    gap: var(--space-2);
  }
  .project-btn {
    width: 100%;
  }
}
