.tooldiv {
  width: 100%;
  height: 100%;
  padding: 4px 6px;
  border-radius: 6px;

  color: var(--color-coral);
  box-shadow: 3px 3px 4px;
  transition: all 0.3s ease-in;
  cursor: grab;
  gap:5px;

}
.tooldiv:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 1px var(--color-coral));
}
.tool-icon {

  font-size: 1.2rem;
}
.tool-title{
  font-size: 1rem;
  font-family: var(--font-body);
}