header {
  position: sticky;
  top: 0;
  z-index: var(--z-sticky);
  width: 100%;
  max-width: var(--container-2xl);
  transition: all 0.3s ease;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--space-8);

  padding: var(--space-2) var(--space-4);
  background-color: var(--color-deepnavy-blue);
  backdrop-filter:blur(40px) ;
  font-family: var(--font-heading);
  transition: all 0.3s ease;
}
.navbar-logo-name {
  font-size: var(--text-4xl);
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  list-style: none;

  font-size: var(--text-2xl);
}
.nav-links li {
  list-style: none;
  margin: 0 1rem;
  cursor: pointer;
}
.nav-link {
  color: var(--color-text-primary);
  text-decoration: none;
  transition: color 0.5s ease;
  position: relative;
}
.nav-link-active{
  /* border: 1px solid red; */
  color: var(--color-coral);
}
.nav-links li a:hover {
  color: var(--color-coral);
}
.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 2px;
  left: 0;
  width: 0;
  background-color: var(--color-coral);
  transition: width 0.3s ease;
}
.nav-links a:hover::after {
  width: 100%;
}

/* ----------- Navbar SmallScreen ---------- */
.nav-smallscreen {
  display: none;
}
.nav-smallscreen-links {
  list-style: none;
}
.nav-smallscreen-links li a {
  text-decoration: none;
  color: var(--color-text-primary);
  transition: color 0.5s ease;
}
.nav-smallscreen-links li a:hover {
  color: var(--color-coral);
}
.nav-smallscreen-links li {
  margin: 2rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
}
.smallscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  flex-direction: column;
  z-index: 5;
  transform: 0.5s ease;

  background-color: hsla(231, 28%, 14%, 0.96);
}
.smallscreen-overlay .overlay-close {
  position: absolute;
  top: 22px;
  right: 30px;
  cursor: pointer;
  /* color: var(); */
}
/* ---------- Responsive Design ---------- */
@media screen and (max-width: 1150px) {

  .nav-links {
    display: none;
  }
  .nav-smallscreen {
    display: flex;
    z-index: 100;
  }
}
@media (max-width: 600px) {
  nav{
    padding: var(--space-4);
  }

  .smallscreen-overlay {
    width: 100vw;
  }
}
