/* App Layout */
.portfolio-container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  z-index: var(--z-base);
}
.portfolio-main {
  max-width: 1900px;
  width: 100%;
  z-index: 5;
}
.portfolio-main{
  width: 100%;
  max-width: var(--container-2xl);
  position: relative;
  z-index: 5;
}

/* Gradient BackGround */
.gradient-orb{
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-darkcoral);
  filter: blur(200px);
  pointer-events: none;
  z-index: 2;
  opacity: 0.8;
}
.gradient-orb-right {
  width: 500px;
  height: 500px;
  top: -100px;
  right: -100px;
}
.gradient-orb-left {
  width: 500px;
  height: 500px;
  top: -150px;
  left: -150px;
}

/* Utlities */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .section-title */
.sectionh1{
  font-family: var(--font-heading);
  font-size: var(--text-4xl);
  font-weight: var(--font-semibold);
  text-align: center;
}

@media (max-width: 768px) {
  .sectionh1 {
    font-size: var(--text-3xl);
  }
}
@media (max-width: 640px) {
  .portfolio-container {
    display: block;
  }
  .gradient-orb-right, .gradient-orb-left{
    width: 150px;
  }
}